<div class="jumbotron">
    <h1 class="title">马克电影</h1>
    <p class="slogan">
    <br>
    凡观影，必留下痕迹
    <br>
    <br>
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">开始马克</a></p>
  </div>
